<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TimeService</title>
    <head>
        <meta charset="UTF-8">
        <title>TimeService</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="font-awesome.min.css">
        <link rel="stylesheet" href="owl.carousel.css">
        <link rel="stylesheet" href="owl.theme.default.min.css">

    </head>
</head>

<body>
<div class="container">
    <div class="collapse navbar-collapse" >
        <ul class="nav nav-pills">
            <tr>
                <li><a href = "/offerreg" class="smoothScroll">Зарегистрировать услугу</a></li>
                <li><a href = "/myofferslist" class="smoothScroll">Мои предложения</a></li>
                <li><a href = "/offerslist" class="smoothScroll">Предложения пользователей</a></li>
                <li><a href = "/vendors" class="smoothScroll">Подписки</a></li>
                <li><a href = "/home" class="smoothScroll">Профиль</a></li>
                <li><a href = "/logout" class="smoothScroll">Выход</a></li>
            </tr>
        </ul>
    </div>
</div>

<br>
<br>
<br>
<br>

<div align="center" class="caption">
    <h2>Мой профиль</h2>
    <p>ID: <span th:text="${user.id}"></span></p>
    <p>Имя: <span th:text="${user.firstName}"></span></p>
    <p>Фамилия: <span th:text="${user.lastName}"></span></p>
</div>
</body>
</html>