<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="owl.carousel.css">
    <link rel="stylesheet" href="owl.theme.default.min.css">
</head>
<body>

<br>
<br>
<br>
<br>
<div align="center">
<form action="#" th:action="@{/login}" th:object="${user}" method="post" >
    <fieldset>
        <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Incorrect login</p>
        Login:
        <input type="text" th:field="*{login}" />
        <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Incorrect login</p>
        <p></p>
        Password:
        <input type="text" th:field="*{pass}" />
        <p th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">Incorrect pass</p>
        <p><input type="submit"></p>
        <hr>
        <a href = "/registration">Регистрация</a>

    </fieldset>
</form>
</div>
</body>
</html>