<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="owl.carousel.css">
    <link rel="stylesheet" href="owl.theme.default.min.css">
</head>
<body>

<div class="container">
    <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav navbar-nav-first">
            <tr>
                <li><a href = "/offerreg" class="smoothScroll">Зарегистрировать услугу</a></li>
                <li><a href = "/myofferslist" class="smoothScroll">Мои предложения</a></li>
                <li><a href = "/offerslist" class="smoothScroll">Предложения пользователей</a></li>
                <li><a href = "/vendors" class="smoothScroll">Подписки</a></li>
                <li><a href = "/home" class="smoothScroll">Профиль</a></li>
                <li><a href = "/logout" class="smoothScroll">Выход</a></li>
            </tr>
        </ul>
    </div>
</div>


<br>
<br>
<br>
<br>


<table th:object="${set}" width="90%" border="1" cellpadding="2" align="center">
    <tr>
        <td Note>Note</td>
        <td Name>Name</td>
        <td TimeStart>TimeStart</td>
        <td TimeStart>TimeEnd</td>

    </tr>
    <tr th:each="offer :${set}">
        <td th:text="${offer.getNote()}"></td>
        <td th:text="${offer.getSign() != null} ? ${offer.getSign().getFirstName() +' '+offer.getSign().getLastName()} : ' '"></td>
        <td th:text="${#dates.format(offer.getTimeStart(), 'dd MMM yyyy | HH:mm')}"></td>
        <td th:text="${#dates.format(offer.getTimeEnd(), 'dd MMM yyyy | HH:mm')}"></td>
        <td><a th:href="@{'/remove/' + ${offer.id}}">Удалить</a></td>
    </tr>
</table>
</body>
</html>