<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TimeService</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="owl.carousel.css">
    <link rel="stylesheet" href="owl.theme.default.min.css">
</head>
<body>

<div class="container">
    <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav navbar-nav-first">
            <tr>
                <li><a href = "/offerreg" class="smoothScroll">Зарегистрировать услугу</a></li>
                <li><a href = "/myofferslist" class="smoothScroll">Мои предложения</a></li>
                <li><a href = "/offerslist" class="smoothScroll">Предложения пользователей</a></li>
                <li><a href = "/vendors" class="smoothScroll">Подписки</a></li>
                <li><a href = "/home" class="smoothScroll">Профиль</a></li>
                <li><a href = "/logout" class="smoothScroll">Выход</a></li>
            </tr>
        </ul>
    </div>
</div>



<br>
<br>
<br>
<br>
<div align="center">


    <form action="#" th:action="@{/offerreg}" th:object="${offerForm}" method="post">
        <fieldset>
            <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Error</p>


            Time start:
            <input type="text" id="start" th:field="*{timeStart}"  />


            <script th:inline="javascript">

                $(function() {
                    $('#start').daterangepicker({
                        singleDatePicker: true,
                        showDropdowns: true,
                        timePicker: true,
                        timePicker24Hour: true,
                        timePickerIncrement: 5,
                        startDate: moment().startOf('hour'),
                        locale: {
                            format: 'DD.MM.YYYY hh:mm'
                        }
                    });
                });
            </script>

            <p th:if="${#fields.hasErrors('timeStart')}" th:errors="*{timeStart}">timestart</p>
            <p></p>
            Time end:
            <input type="text" th:field="*{timeEnd}" id="end" />

            <script th:inline="javascript">

                $(function() {
                    $('#end').daterangepicker({
                        singleDatePicker: true,
                        showDropdowns: true,
                        timePicker: true,
                        timePicker24Hour: true,
                        timePickerIncrement: 5,
                        startDate: moment().startOf('hour'),
                        locale: {
                            format: 'DD.MM.YYYY hh:mm'
                        }
                    });
                });
            </script>

            <p th:if="${#fields.hasErrors('timeEnd')}" th:errors="*{timeEnd}">timeend</p>
            <p></p>
            Note:
            <textarea rows="10" cols="45" type="text" size="60" th:field="*{note}" />
            <p th:if="${#fields.hasErrors('note')}" th:errors="*{note}">Incorrect login</p>


            <p><input type="submit"></p>



        </fieldset>
    </form>
</div>
</body>
</html>